<div class="">
    <mat-card style="border: 1px solid">

        <div>
            <h5 class="text-center">Bem-Vindo ao App Manager 1.0</h5>
            <P class="text-center">Utilize esta plataforma para gerenciar usuarios e apps</P>
        </div>
        <div style="padding-top: 2.5em; padding-bottom: 4.5em">
            <mat-divider></mat-divider>
        </div>

        <div class="container">
                <div class="row text-center" >
                    <div  style="padding-left: 7.5%; padding-right: 7.5%; border-right: 1px solid">
                        <i class="fa fa-user"></i>
                        <p>Gestão de usuarios</p>
                    </div>
                    <div  style="padding-left: 7.5%; padding-right: 7.5%; border-right: 1px solid">
                        <i class="fa fa-adn"></i>
                        <p>Gestão de Apps</p>
                    </div>
                    <div style="padding-left: 7.5%;">
                        <i  class="fa fa-eye"></i>
                        <p>Gestão de permissão de acessos</p>
                    </div>
                </div>
        </div>
        <!-- <i class="fa fa-dashboard fa-lg"></i> Home -->
    </mat-card>

</div>