<div class="nav-side-menu">

        <div class="brand">App Manager</div>
        <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
        <div class="menu-list">
            <ul id="menu-content" class="menu-content collapse out">
                <li>
                    <a routerLink="admin/home">
                        <i class="fa fa-home fa-lg"></i> Home
                    </a>
                </li>
                <li>
                    <a routerLink="/admin/tiposapp">
                        <i class="fa fa-gear fa-lg"></i> Tipo de App
                    </a>
                </li>
                <li>
                    <a routerLink="/admin/apps">
                        <i class="fa fa fa-adn fa-lg"></i> App
                    </a>
                </li>
                <li>
                    <a routerLink="/admin/usuarios">
                        <i class="fa fa-user fa-lg"></i> Usuario
                    </a>
                </li>                
            </ul>
        </div>


</div>
