<!-- <div class="page-wrapper chiller-theme toggled"> -->
    <a id="show-sidebar" class="btn btn-sm btn-dark" href="#">
        <i class="fas fa-bars"></i>
    </a>
    <nav id="sidebar" class="sidebar-wrapper">
        <div class="sidebar-content">
            <div class="sidebar-brand">
                <a href="#">App Manager</a>
                <div id="close-sidebar">
                    <i class="fas fa-times"></i>
                </div>
            </div>
            <div class="sidebar-header">
                <div class="user-pic">
                    <img class="img-responsive img-rounded"
                        src="https://raw.githubusercontent.com/azouaoui-med/pro-sidebar-template/gh-pages/src/img/user.jpg"
                        alt="User picture">
                </div>
                <div class="user-info">
                    <span class="user-name">
                        {{ user_name }}
                        <!-- <strong>Smith</strong> -->
                    </span>
                    <span class="user-role">Administrator</span>
                    <span class="user-status">
                        <i class="fa fa-circle"></i>
                        <span>Online</span>
                    </span>
                </div>
            </div>
            <div class="sidebar-menu">
                <ul>
                    <!-- <li class="header-menu">
                        <span>General</span>
                    </li> -->
                    <li>
                        <a routerLink="admin/home">
                            <i class="fa fa-home fa-lg"></i>
                            <span>Home</span>
                        </a>
                    </li>
                    <li>
                        <a routerLink="/admin/tiposapp">
                            <i class="fa fa-gear fa-lg"></i>
                            <span>Tipo de App</span>
                        </a>
                    </li>
                    <li>
                        <a routerLink="/admin/apps">
                            <i class="fa fa fa-adn fa-lg"></i>
                            <span>App</span>
                        </a>
                    </li>
                    <li>
                        <a routerLink="/admin/usuarios">
                            <i class="fa fa-user fa-lg"></i>
                            <span>Usuario</span>
                        </a>
                    </li>
                </ul>
            </div>
            <!-- sidebar-menu  -->
        </div>
        <!-- sidebar-content  -->
        <div class="sidebar-footer">
            <a href="#">
                <i class="fa fa-bell"></i>
                <span class="badge badge-pill badge-warning notification">3</span>
            </a>
            <a href="#">
                <i class="fa fa-envelope"></i>
                <span class="badge badge-pill badge-success notification">7</span>
            </a>
            <a href="#">
                <i class="fa fa-cog"></i>
                <span class="badge-sonar"></span>
            </a>
            <a href="#">
                <i class="fa fa-power-off"></i>
            </a>
        </div>
    </nav>
<!-- </div> -->